.manage-category {
  padding: 0px 20px;

  &__top {
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .hidden {
      visibility: hidden;
      transition: 0.2s;
    }

    button {
      height: 40px;
      padding: 0px 10px;
      border: 1px solid transparent;
      border-radius: 30px;
      background-color: #000;
      color: #fff;
    }

    form {
        transition: .2s;
      width: 450px;
      height: 40px;
      display: flex;
      flex-direction: row;
      gap: 5px;

      input {
        display: flex;
        flex: 1;
        outline: none;
        border: 1px solid #ddd;
        border-radius: 30px;
        padding: 0px 15px;
      }
    }
  }

  .edit-category {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
        height: 40px;
        outline: none;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 0px 15px;
    }

    button {
        height: 40px;
        background-color: #000;
        border: 1px solid transparent;
        border-radius: 5px;
        color: #fff;
    }
  }

  .edit-btn,
  .delete-btn {
    background-color: transparent;
    border: 1px solid transparent;
  }

  .modals {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .btns {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 10px;

      button {
        width: 55px;
        height: 35px;
        border: 1px solid transparent;
        border-radius: 30px;
      }

      .delete {
        background-color: rgba(255, 0, 0, 0.1);
        color: red;
      }
    }
  }
}
