.abtab-details {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 0px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;

    span {
      font-weight: 700;
    }
  }
}
