.admin-header {
  position: sticky;
  top: 0;
  left: 0;
  height: 90px;
  width: calc(100vw - 350px);
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  border: 1px solid transparent;
  border-radius: 30px;
  margin: 5px;
  color: #fff;

  &__profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0px 30px;
  }

  &__profile-img {
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    background-color: gray;
    border: 1px solid transparent;
    border-radius: 50%;
  }
}

